<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_01GRILL-HOTDOGS-REX-cqwj-mediumSquareAt3X.webp>
<p class=foodName>Hot Dog</p> <p class=foodPrice>$5</p><p class=foodType>Hot Food</p>
<p class=foodDesc>with Australian meat, and options of two sauces, along with white bread.</p>
<a href="items/1" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_20240304-SEA-Chips-AmandaSuarez-22-45bb69d129324fcda1cd06153f2dc71a.webp>
<p class=foodName>Chips</p> <p class=foodPrice>$6.99</p><p class=foodType>Hot Food</p>
<p class=foodDesc>golden deep-fried potatoes, with chicken salt dancing on your tongue, an Aussie Classic!</p>
<a href="items/2" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_homemade-ice-cream-500x500.webp>
<p class=foodName>Ice Cream</p> <p class=foodPrice>$2.99</p><p class=foodType>Dessert</p>
<p class=foodDesc>nice and creamy, made with Australian milk. Available in Vanilla, Chocolate, and Strawberry</p>
<a href="items/3" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_aussie-meat-pies-16289-1.jpeg>
<p class=foodName>Meat Pie</p> <p class=foodPrice>$3</p><p class=foodType>Pastry</p>
<p class=foodDesc>an Aussie classic, with meat, and tasty pastry! sauce optional!</p>
<a href="items/4" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_Sausage_roll_-_One_Market_One_Garden_Brighton_cropped.webp>
<p class=foodName>Sausage Roll</p> <p class=foodPrice>$2.5</p><p class=foodType>Pastry</p>
<p class=foodDesc>A sausage roll is a savoury pastry snack commonly enjoyed in Australia and many other countries. Has seasoned sausage encased in flaky, golden puff pastry.</p>
<a href="items/5" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_images.jpeg>
<p class=foodName>Jelly</p> <p class=foodPrice>$4.69</p><p class=foodType>Dessert</p>
<p class=foodDesc>sugary delights in a little cup, spoon included, and is available in Strawberry and Lime</p>
<a href="items/6" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_Mainland-cheese-and-crackers-flavour-1-out-of-packaging-copy-1.webp>
<p class=foodName>Cheese And Crackers</p> <p class=foodPrice>$1.99</p><p class=foodType>Snack</p>
<p class=foodDesc>nice cheddar cheese with water crackers</p>
<a href="items/7" class="foodButton">View More</a>
</div>
