<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_01GRILL-HOTDOGS-REX-cqwj-mediumSquareAt3X.webp>
<p class=foodName>Hot Dog</p> <p class=foodPrice>$3.99</p><p class=foodType>Hot Food</p>
<p class=foodDesc>famous american food, has sausage and white bread</p>
<a href="items/1" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_homemade-ice-cream-500x500.webp>
<p class=foodName>Ice Cream</p> <p class=foodPrice>$4.77</p><p class=foodType>Dessert</p>
<p class=foodDesc>tasty and made from australian milk, available with strawberries, or not.</p>
<a href="items/2" class="foodButton">View More</a>
</div>
<div class=foodItemBox>
<img class=foodImg src=static/uploads/compressed_20250804_114411.webp>
<p class=foodName>scriptalert("TEST");script</p> <p class=foodPrice>$4.8</p><p class=foodType>Hot Food</p>
<p class=foodDesc>scriptalert("TEST");script</p>
<a href="items/4" class="foodButton">View More</a>
</div>
