{% extends 'layout.html' %}
{% block content %}
<h1>Welcome {{ value }}!</h1>
<h2>Your Cart</h2>
<div class="cartViewer">
  <table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Changes</th>
    <th>Cost</th>
    <th></th>
  </tr>
  {% set ns = namespace(total=0, counted=0) %}
  {% for cart in carts %}
    <tr>
      <td>{{ cart.cartId }}</td>
      <td>{{ cart.food.name }}</td>
      <td>{{ cart.foodItemInstructions }}</td>
      <td>${{ cart.food.price }}</td>
      <td><a href="{{ url_for('removeFromCart', food_id=cart.cartId) }}">X</a></td>
      {% set ns.total = ns.total + cart.food.price %}
      {% set ns.counted = ns.counted + 1 %}
    </tr>
  {% endfor %}
</table>
{% if ns.counted == 0 %}
    <p>no items in cart</p>
  {% else %}
    <a href="{{ url_for('buyCart') }}" class="foodButton">Buy for ${{ ns.total }}</a>
  {% endif %}
</div>
{% endblock %}