<!doctype html>
<html>
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
        <title>Plumpton Canteen</title>
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon.png') }}" />
        <meta name="theme-color" content="#14E6DD" />
   </head>
   <body>  
    <main>
        <nav>
            <img src="{{ url_for('static', filename='/icons/icon-640x640.png') }}" alt="website logo" id="IconImage" />
            <h1 class="topThing1" >Canteen Management</h1>
            <ul class="topnav">
                <li><a href="{{ url_for('systemPage') }}">Home</a></li>
                {% if state %}
                    <!--  <li><a href="?url=/ManageCompany.html">Settings</a></li> <-->
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('signup') }}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="disclaimer">
            <em>the canteen app requires an account, this is so that any orders can be identified, and any restrictions on food such as allergy requirements are met!</em>
        </div>
    {% block content %}{% endblock %}   
    <script src="{{ url_for('static', filename='js/serviceWorker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
