{% extends 'layout.html' %}
{% block content %}
<h1>Welcome {{ value }}!</h1>
<p>your account indicated a lack of a link between your employee account and a company, doing so will allow you to access the company and begin working!</p>
<form action="/linkCompany.html" method="post" class="box">
  <div class="input__wrapper">
    <input type="number" name="compNumber" id="compNumber" placeholder="Enter the 6 digit secret company number here" class="input__field" required/>
  </div>
  <div class="input__wrapper">
    <input type="submit" class="btn" value="Submit Link" />
  </div>
</form>
{% endblock %}